<% let action = formAction === 'update' ? `/update/${data.id}?_method=PUT` : '/update'; %>

<button value="<%- data.id %>" class="show-update">Update</button>
<form action="<%- action %>" method="post" class="update" id='update<%- data.id %>'>

    <input type='text' id='title' name="title" value="<%= data.title %>" required />
    <textarea id='summary' name="summary" value="<%= data.summary %>"><%- data.summary %></textarea>
    <input type='text' id='url' name="url" value="<%= data.url %>" />
    <input type='text' id='image_url' name="image_url" value="<%= data.image_url %>" />

    <button type="submit">Change</button>
    <input type="button" class="cancel" value="cancel" />
</form>