<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <table>
        <% result.forEach(results => { %>
            <tr>
        <th><%= results.title %></th>
        <td><%= results.summary %></td>
        <td><%= results.url %></td>
        <td><%= results.image_url %></td>
    </tr>
   <% }) %>
   <form action="/admin/insert" method="post">
        <tr>
            <td><input type="text" name="title" id="title" /></td>
            <td><input type="text" name="summary" id="summary" /></td>
            <td><input type="text" name="url" id="url" /></td>
            <td><input type="text" name="image_url" id="image_url" /></td>
        </tr>
    </table>
    <button type="submit">Adding</button>
</form>
</body>
</html>